.BookSearch {
    padding-top: 2rem;
}

.BookSearch h1 {
    text-align: center;
    font-size: 3rem;
}

.BookSearch input {
    display: block;
    margin: 0 auto 1rem;
    width: 45%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: white;
    border: none;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}
.BookSearch input:focus {
    outline: none;
    background-color: white;
}

#search-btn {
    display: block;
    margin: 1.5rem auto 0;
    padding: 0.5rem 1rem;
    background-color: #244c6c;
    color: white;
    border-radius: 1rem;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}
#search-btn:focus {
    outline: none;
}



.ResultList {
    padding-top: 3rem;
}

.BookSearchResult {
    margin: 0 auto 4rem;
    width: 80vw;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.results-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.75rem;
}

.results-title h2 {
    margin: 0 0 1rem;
}

.results-title p {
    margin: 0 0 0.25rem;
}


.results-buttons {
    padding: 0.25rem;
    min-width: 175px;
}

.results-buttons button {
    margin-right: 0.5rem;
    padding: 0.35rem 1rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #244c6c;
    color: white;
    cursor: pointer;
}
.results-buttons button:focus {
    outline: none;
}

.results-buttons a {
    border: 1px solid #244c6c;
    border-radius: 0.75rem;
    padding: 0.25rem 1rem;
    background-color: white;
    color: #244c6c;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
}
.results-buttons a:hover {
    background-color: #244c6c;
    color: white;
}

.results-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.results-body img {
    margin-right: 2rem;
}

.results-body p {
    margin: 0;
}

.no-image {
    width: 128px;
    height: 180px;
    margin: 0 0.25rem 0 0;
    border: 1px solid lightgrey;
    text-align: center;
}


/* Before the data from the API is returned, show a loading animation */
.loader {
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 8px solid #bdc3c7;
    width: 100px;
    height: 100px;
    border-top-color: #1abc9c;
    border-bottom-color: #74a696;
    border-radius: 50%;
    animation: coloredspin 4s linear infinite;
  }
  
  @keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
  @keyframes coloredspin {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: #1abc9c;
      border-bottom-color: #1abc9c;
    }
    25% {
      border-top-color: #2ecc71;
      border-bottom-color: #2ecc71;
    }
    50% {
      transform: rotate(360deg) scale(1.05);
      border-top-color: #3498db;
      border-bottom-color: #3498db;
    }
    75% {
      border-top-color: #9b59b6;
      border-bottom-color: #9b59b6;
    }
    100%{
      transform: rotate(720deg) scale(1);
      border-top-color: #1abc9c;
      border-bottom-color: #1abc9c;
    }
  }
